In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

ImportError: No module named 'matplotlib'

## Object Creation

### `Series`

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

> `np.nan`: Not An Number. 결측치 (missing value) 를 나타낼 때 주로 쓰임

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### `DataFrame`

In [7]:
dates = pd.date_range('20130101', '20130106') # 원 페이지 코드 오류: 시작, 끝, 선택적으로 주기(=step)값 인수임
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -0.732504 -0.477730  1.125425  1.110776
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-03  0.134919 -0.035634  0.517091 -0.791114
2013-01-04 -0.842252 -2.124258  0.600832  1.834915
2013-01-05  0.343848  0.496475 -1.021254 -0.350403
2013-01-06 -1.017200  1.282888 -1.913240  1.366801

In [10]:
df.head(2)

                   A         B         C         D
2013-01-01 -0.732504 -0.477730  1.125425  1.110776
2013-01-02  1.114156 -1.569409  0.643545 -0.482571

In [11]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.343848  0.496475 -1.021254 -0.350403
2013-01-06 -1.017200  1.282888 -1.913240  1.366801

In [12]:
df2 = pd.DataFrame({ 'A' : 1.,
                         'B' : pd.Timestamp('20130102'),
                         'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                         'D' : np.array([3] * 4,dtype='int32'),
                         'E' : pd.Categorical(["test","train","test","train"]),
                         'F' : 'foo' })

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [18]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
pd.DataFrame.__dict__

mappingproxy({'T': <property at 0x7fe1fc3c60e8>,
              '_AXIS_ALIASES': {'rows': 0},
              '_AXIS_IALIASES': {0: 'rows'},
              '_AXIS_LEN': 2,
              '_AXIS_NAMES': {0: 'index', 1: 'columns'},
              '_AXIS_NUMBERS': {'columns': 1, 'index': 0},
              '_AXIS_ORDERS': ['index', 'columns'],
              '_AXIS_REVERSED': True,
              '_AXIS_SLICEMAP': None,
              '__add__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__and__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__div__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__doc__': " Two-dimensional size-mutable, potentially heterogeneous tabular data\n    structure with labeled axes (rows and columns). Arithmetic operations\n    align on both row and column labels. Can be thought of as a dict-like\n    container for Series objects. The primary pandas data structure\n\n    Parameters\n    ----------\n    data : numpy ndarray (structured or homogeneous), dict, or DataFrame\n        Dict can contain Series, arrays, constants, or list-like objects\n    index : Index or array-like\n        Index to use for resulting frame. Will default to np.arange(n) if\n        no indexing information part of input data and no index provided\n    columns : Index or array-like\n        Column labels to use for resulting frame. Will default to\n        np.arange(n) if no column labels are provided\n    dtype : dtype, default None\n        Data type to force, otherwise infer\n    copy : boolean, default False\n        Copy data from inputs. Only affects DataFrame / 2d ndarray input\n\n    Examples\n    --------\n    >>> d = {'col1': ts1, 'col2': ts2}\n    >>> df = DataFrame(data=d, index=index)\n    >>> df2 = DataFrame(np.random.randn(10, 5))\n    >>> df3 = DataFrame(np.random.randn(10, 5),\n    ...                 columns=['a', 'b', 'c', 'd', 'e'])\n\n    See also\n    --------\n    DataFrame.from_records : constructor from tuples, also record arrays\n    DataFrame.from_dict : from dicts of Series, arrays, or dicts\n    DataFrame.from_items : from sequence of (key, value) pairs\n    pandas.read_csv, pandas.read_table, pandas.read_clipboard\n    ",
              '__eq__': <function pandas.core.ops._comp_method_FRAME.<locals>.f>,
              '__floordiv__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__ge__': <function pandas.core.ops._comp_method_FRAME.<locals>.f>,
              '__getitem__': <function pandas.core.frame.DataFrame.__getitem__>,
              '__gt__': <function pandas.core.ops._comp_method_FRAME.<locals>.f>,
              '__iadd__': <function pandas.core.ops.add_special_arithmetic_methods.<locals>._wrap_inplace_method.<locals>.f>,
              '__imul__': <function pandas.core.ops.add_special_arithmetic_methods.<locals>._wrap_inplace_method.<locals>.f>,
              '__init__': <function pandas.core.frame.DataFrame.__init__>,
              '__ipow__': <function pandas.core.ops.add_special_arithmetic_methods.<locals>._wrap_inplace_method.<locals>.f>,
              '__isub__': <function pandas.core.ops.add_special_arithmetic_methods.<locals>._wrap_inplace_method.<locals>.f>,
              '__itruediv__': <function pandas.core.ops.add_special_arithmetic_methods.<locals>._wrap_inplace_method.<locals>.f>,
              '__le__': <function pandas.core.ops._comp_method_FRAME.<locals>.f>,
              '__len__': <function pandas.core.frame.DataFrame.__len__>,
              '__lt__': <function pandas.core.ops._comp_method_FRAME.<locals>.f>,
              '__mod__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__module__': 'pandas.core.frame',
              '__mul__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__ne__': <function pandas.core.ops._comp_method_FRAME.<locals>.f>,
              '__or__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__pow__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__radd__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rand__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rdiv__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rfloordiv__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rmod__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rmul__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__ror__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rpow__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rsub__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rtruediv__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__rxor__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__setitem__': <function pandas.core.frame.DataFrame.__setitem__>,
              '__sub__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__truediv__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '__unicode__': <function pandas.core.frame.DataFrame.__unicode__>,
              '__xor__': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              '_agg_doc': "\nExamples\n--------\n\n>>> df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],\n...                   index=pd.date_range('1/1/2000', periods=10))\n>>> df.iloc[3:7] = np.nan\n\nAggregate these functions across all columns\n\n>>> df.agg(['sum', 'min'])\n            A         B         C\nsum -0.182253 -0.614014 -2.909534\nmin -1.916563 -1.460076 -1.568297\n\nDifferent aggregations per column\n\n>>> df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})\n            A         B\nmax       NaN  1.514318\nmin -1.916563 -1.460076\nsum -0.182253       NaN\n\nSee also\n--------\npandas.DataFrame.apply\npandas.DataFrame.transform\npandas.DataFrame.groupby.aggregate\npandas.DataFrame.resample.aggregate\npandas.DataFrame.rolling.aggregate\n\n",
              '_apply_broadcast': <function pandas.core.frame.DataFrame._apply_broadcast>,
              '_apply_empty_result': <function pandas.core.frame.DataFrame._apply_empty_result>,
              '_apply_raw': <function pandas.core.frame.DataFrame._apply_raw>,
              '_apply_standard': <function pandas.core.frame.DataFrame._apply_standard>,
              '_box_col_values': <function pandas.core.frame.DataFrame._box_col_values>,
              '_box_item_values': <function pandas.core.frame.DataFrame._box_item_values>,
              '_combine_const': <function pandas.core.frame.DataFrame._combine_const>,
              '_combine_frame': <function pandas.core.frame.DataFrame._combine_frame>,
              '_combine_match_columns': <function pandas.core.frame.DataFrame._combine_match_columns>,
              '_combine_match_index': <function pandas.core.frame.DataFrame._combine_match_index>,
              '_combine_series': <function pandas.core.frame.DataFrame._combine_series>,
              '_combine_series_infer': <function pandas.core.frame.DataFrame._combine_series_infer>,
              '_compare_frame': <function pandas.core.frame.DataFrame._compare_frame>,
              '_compare_frame_evaluate': <function pandas.core.frame.DataFrame._compare_frame_evaluate>,
              '_constructor': <property at 0x7fe1fcfc5db8>,
              '_constructor_expanddim': <property at 0x7fe1fc3f9818>,
              '_constructor_sliced': pandas.core.series.Series,
              '_count_level': <function pandas.core.frame.DataFrame._count_level>,
              '_ensure_valid_index': <function pandas.core.frame.DataFrame._ensure_valid_index>,
              '_flex_compare_frame': <function pandas.core.frame.DataFrame._flex_compare_frame>,
              '_from_arrays': <classmethod at 0x7fe1fcf4e320>,
              '_get_agg_axis': <function pandas.core.frame.DataFrame._get_agg_axis>,
              '_getitem_array': <function pandas.core.frame.DataFrame._getitem_array>,
              '_getitem_column': <function pandas.core.frame.DataFrame._getitem_column>,
              '_getitem_frame': <function pandas.core.frame.DataFrame._getitem_frame>,
              '_getitem_multilevel': <function pandas.core.frame.DataFrame._getitem_multilevel>,
              '_getitem_slice': <function pandas.core.frame.DataFrame._getitem_slice>,
              '_gotitem': <function pandas.core.frame.DataFrame._gotitem>,
              '_info_axis_name': 'columns',
              '_info_axis_number': 1,
              '_info_repr': <function pandas.core.frame.DataFrame._info_repr>,
              '_init_dict': <function pandas.core.frame.DataFrame._init_dict>,
              '_init_ndarray': <function pandas.core.frame.DataFrame._init_ndarray>,
              '_ix': None,
              '_ixs': <function pandas.core.frame.DataFrame._ixs>,
              '_join_compat': <function pandas.core.frame.DataFrame._join_compat>,
              '_reduce': <function pandas.core.frame.DataFrame._reduce>,
              '_reindex_axes': <function pandas.core.frame.DataFrame._reindex_axes>,
              '_reindex_columns': <function pandas.core.frame.DataFrame._reindex_columns>,
              '_reindex_index': <function pandas.core.frame.DataFrame._reindex_index>,
              '_reindex_multi': <function pandas.core.frame.DataFrame._reindex_multi>,
              '_repr_fits_horizontal_': <function pandas.core.frame.DataFrame._repr_fits_horizontal_>,
              '_repr_fits_vertical_': <function pandas.core.frame.DataFrame._repr_fits_vertical_>,
              '_repr_html_': <function pandas.core.frame.DataFrame._repr_html_>,
              '_repr_latex_': <function pandas.core.frame.DataFrame._repr_latex_>,
              '_sanitize_column': <function pandas.core.frame.DataFrame._sanitize_column>,
              '_series': <property at 0x7fe1fc3c6138>,
              '_set_item': <function pandas.core.frame.DataFrame._set_item>,
              '_setitem_array': <function pandas.core.frame.DataFrame._setitem_array>,
              '_setitem_frame': <function pandas.core.frame.DataFrame._setitem_frame>,
              '_setitem_slice': <function pandas.core.frame.DataFrame._setitem_slice>,
              '_stat_axis_name': 'index',
              '_stat_axis_number': 0,
              '_typ': 'dataframe',
              '_unpickle_frame_compat': <function pandas.core.frame.DataFrame._unpickle_frame_compat>,
              '_unpickle_matrix_compat': <function pandas.core.frame.DataFrame._unpickle_matrix_compat>,
              'add': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'agg': <function pandas.core.frame.DataFrame.aggregate>,
              'aggregate': <function pandas.core.frame.DataFrame.aggregate>,
              'align': <function pandas.core.frame.DataFrame.align>,
              'all': <function pandas.core.frame.DataFrame.all>,
              'any': <function pandas.core.frame.DataFrame.any>,
              'append': <function pandas.core.frame.DataFrame.append>,
              'apply': <function pandas.core.frame.DataFrame.apply>,
              'applymap': <function pandas.core.frame.DataFrame.applymap>,
              'assign': <function pandas.core.frame.DataFrame.assign>,
              'axes': <property at 0x7fe1fc3a9f98>,
              'boxplot': <function pandas.core.frame.boxplot>,
              'columns': <pandas._libs.lib.AxisProperty at 0x7fe1fc6e9318>,
              'combine': <function pandas.core.frame.DataFrame.combine>,
              'combine_first': <function pandas.core.frame.DataFrame.combine_first>,
              'compound': <function pandas.core.generic.NDFrame._add_numeric_operations.<locals>.compound>,
              'corr': <function pandas.core.frame.DataFrame.corr>,
              'corrwith': <function pandas.core.frame.DataFrame.corrwith>,
              'count': <function pandas.core.frame.DataFrame.count>,
              'cov': <function pandas.core.frame.DataFrame.cov>,
              'cummax': <function pandas.core.frame.DataFrame.cummax>,
              'cummin': <function pandas.core.frame.DataFrame.cummin>,
              'cumprod': <function pandas.core.frame.DataFrame.cumprod>,
              'cumsum': <function pandas.core.frame.DataFrame.cumsum>,
              'diff': <function pandas.core.frame.DataFrame.diff>,
              'div': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'divide': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'dot': <function pandas.core.frame.DataFrame.dot>,
              'drop_duplicates': <function pandas.core.frame.DataFrame.drop_duplicates>,
              'dropna': <function pandas.core.frame.DataFrame.dropna>,
              'duplicated': <function pandas.core.frame.DataFrame.duplicated>,
              'eq': <function pandas.core.ops._flex_comp_method_FRAME.<locals>.f>,
              'eval': <function pandas.core.frame.DataFrame.eval>,
              'ewm': <function pandas.core.generic.NDFrame._add_series_or_dataframe_operations.<locals>.ewm>,
              'expanding': <function pandas.core.generic.NDFrame._add_series_or_dataframe_operations.<locals>.expanding>,
              'fillna': <function pandas.core.frame.DataFrame.fillna>,
              'first_valid_index': <function pandas.core.frame.DataFrame.first_valid_index>,
              'floordiv': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'from_csv': <classmethod at 0x7fe1fc3fb6d8>,
              'from_dict': <classmethod at 0x7fe1fcf4e198>,
              'from_items': <classmethod at 0x7fe1fcf4e240>,
              'from_records': <classmethod at 0x7fe1fcf4e208>,
              'ge': <function pandas.core.ops._flex_comp_method_FRAME.<locals>.f>,
              'get_value': <function pandas.core.frame.DataFrame.get_value>,
              'gt': <function pandas.core.ops._flex_comp_method_FRAME.<locals>.f>,
              'hist': <function pandas.plotting._core.hist_frame>,
              'idxmax': <function pandas.core.frame.DataFrame.idxmax>,
              'idxmin': <function pandas.core.frame.DataFrame.idxmin>,
              'index': <pandas._libs.lib.AxisProperty at 0x7fe1fc6e9300>,
              'info': <function pandas.core.frame.DataFrame.info>,
              'insert': <function pandas.core.frame.DataFrame.insert>,
              'isin': <function pandas.core.frame.DataFrame.isin>,
              'items': <function pandas.core.frame.DataFrame.iteritems>,
              'iteritems': <function pandas.core.frame.DataFrame.iteritems>,
              'iterrows': <function pandas.core.frame.DataFrame.iterrows>,
              'itertuples': <function pandas.core.frame.DataFrame.itertuples>,
              'join': <function pandas.core.frame.DataFrame.join>,
              'kurt': <function pandas.core.frame.DataFrame.kurt>,
              'kurtosis': <function pandas.core.frame.DataFrame.kurt>,
              'last_valid_index': <function pandas.core.frame.DataFrame.last_valid_index>,
              'le': <function pandas.core.ops._flex_comp_method_FRAME.<locals>.f>,
              'lookup': <function pandas.core.frame.DataFrame.lookup>,
              'lt': <function pandas.core.ops._flex_comp_method_FRAME.<locals>.f>,
              'mad': <function pandas.core.generic.NDFrame._add_numeric_operations.<locals>.mad>,
              'max': <function pandas.core.frame.DataFrame.max>,
              'mean': <function pandas.core.frame.DataFrame.mean>,
              'median': <function pandas.core.frame.DataFrame.median>,
              'melt': <function pandas.core.frame.DataFrame.melt>,
              'memory_usage': <function pandas.core.frame.DataFrame.memory_usage>,
              'merge': <function pandas.core.frame.DataFrame.merge>,
              'min': <function pandas.core.frame.DataFrame.min>,
              'mod': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'mode': <function pandas.core.frame.DataFrame.mode>,
              'mul': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'multiply': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'ne': <function pandas.core.ops._flex_comp_method_FRAME.<locals>.f>,
              'nlargest': <function pandas.core.frame.DataFrame.nlargest>,
              'nsmallest': <function pandas.core.frame.DataFrame.nsmallest>,
              'nunique': <function pandas.core.frame.DataFrame.nunique>,
              'pivot': <function pandas.core.frame.DataFrame.pivot>,
              'pivot_table': <function pandas.core.reshape.pivot.pivot_table>,
              'plot': <pandas.core.base.AccessorProperty at 0x7fe1fc3bdf98>,
              'pow': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'prod': <function pandas.core.frame.DataFrame.prod>,
              'product': <function pandas.core.frame.DataFrame.prod>,
              'quantile': <function pandas.core.frame.DataFrame.quantile>,
              'query': <function pandas.core.frame.DataFrame.query>,
              'radd': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'rdiv': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'reindex': <function pandas.core.frame.DataFrame.reindex>,
              'reindex_axis': <function pandas.core.frame.DataFrame.reindex_axis>,
              'rename': <function pandas.core.frame.DataFrame.rename>,
              'reorder_levels': <function pandas.core.frame.DataFrame.reorder_levels>,
              'reset_index': <function pandas.core.frame.DataFrame.reset_index>,
              'rfloordiv': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'rmod': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'rmul': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'rolling': <function pandas.core.generic.NDFrame._add_series_or_dataframe_operations.<locals>.rolling>,
              'round': <function pandas.core.frame.DataFrame.round>,
              'rpow': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'rsub': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'rtruediv': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'select_dtypes': <function pandas.core.frame.DataFrame.select_dtypes>,
              'sem': <function pandas.core.frame.DataFrame.sem>,
              'set_index': <function pandas.core.frame.DataFrame.set_index>,
              'set_value': <function pandas.core.frame.DataFrame.set_value>,
              'shape': <property at 0x7fe1fc3c6048>,
              'shift': <function pandas.core.frame.DataFrame.shift>,
              'skew': <function pandas.core.frame.DataFrame.skew>,
              'sort_index': <function pandas.core.frame.DataFrame.sort_index>,
              'sort_values': <function pandas.core.frame.DataFrame.sort_values>,
              'sortlevel': <function pandas.core.frame.DataFrame.sortlevel>,
              'stack': <function pandas.core.frame.DataFrame.stack>,
              'std': <function pandas.core.frame.DataFrame.std>,
              'style': <property at 0x7fe1fc3c6098>,
              'sub': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'subtract': <function pandas.core.ops._arith_method_FRAME.<locals>.f>,
              'sum': <function pandas.core.frame.DataFrame.sum>,
              'swaplevel': <function pandas.core.frame.DataFrame.swaplevel>,
              'to_csv': <function pandas.core.frame.DataFrame.to_csv>,
              'to_dict': <function pandas.core.frame.DataFrame.to_dict>,
              'to_excel': <function pandas.core.frame.DataFrame.to_excel>,

### 보기 / 단순 변환 

#### `head()`, `tail()`

In [27]:
df.head(2)

                   A         B         C         D
2013-01-01 -0.732504 -0.477730  1.125425  1.110776
2013-01-02  1.114156 -1.569409  0.643545 -0.482571

In [11]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.343848  0.496475 -1.021254 -0.350403
2013-01-06 -1.017200  1.282888 -1.913240  1.366801

#### `index`, `columns`, `values`

In [19]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.values

array([[-0.73250363, -0.47773003,  1.1254247 ,  1.11077616],
       [ 1.11415596, -1.56940912,  0.64354483, -0.48257119],
       [ 0.13491946, -0.03563399,  0.51709146, -0.79111395],
       [-0.84225244, -2.12425804,  0.60083234,  1.83491503],
       [ 0.34384774,  0.49647541, -1.02125428, -0.35040336],
       [-1.01720036,  1.28288814, -1.91324029,  1.366801  ]])

#### `describe()`

- column 별 데이터 요약정보(기술통계) 제공

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.166506 -0.404611 -0.007934  0.448067
std    0.835713  1.273973  1.184245  1.117660
min   -1.017200 -2.124258 -1.913240 -0.791114
25%   -0.814815 -1.296489 -0.636668 -0.449529
50%   -0.298792 -0.256682  0.558962  0.380186
75%    0.291616  0.363448  0.632867  1.302795
max    1.114156  1.282888  1.125425  1.834915

#### `T` : 행/열 바꾸기

- transpose 명령

In [23]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.732504    1.114156    0.134919   -0.842252    0.343848   -1.017200
B   -0.477730   -1.569409   -0.035634   -2.124258    0.496475    1.282888
C    1.125425    0.643545    0.517091    0.600832   -1.021254   -1.913240
D    1.110776   -0.482571   -0.791114    1.834915   -0.350403    1.366801

####  `sort_index()`

- 행/열 인덱스명(이름)에 따라 정렬

In [24]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -1.017200  1.282888 -1.913240  1.366801
2013-01-05  0.343848  0.496475 -1.021254 -0.350403
2013-01-04 -0.842252 -2.124258  0.600832  1.834915
2013-01-03  0.134919 -0.035634  0.517091 -0.791114
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-01 -0.732504 -0.477730  1.125425  1.110776

In [24]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -1.017200  1.282888 -1.913240  1.366801
2013-01-05  0.343848  0.496475 -1.021254 -0.350403
2013-01-04 -0.842252 -2.124258  0.600832  1.834915
2013-01-03  0.134919 -0.035634  0.517091 -0.791114
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-01 -0.732504 -0.477730  1.125425  1.110776

In [25]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.110776  1.125425 -0.477730 -0.732504
2013-01-02 -0.482571  0.643545 -1.569409  1.114156
2013-01-03 -0.791114  0.517091 -0.035634  0.134919
2013-01-04  1.834915  0.600832 -2.124258 -0.842252
2013-01-05 -0.350403 -1.021254  0.496475  0.343848
2013-01-06  1.366801 -1.913240  1.282888 -1.017200

####  `sort_values()`

- column 값에 따라 정렬

In [26]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04 -0.842252 -2.124258  0.600832  1.834915
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-01 -0.732504 -0.477730  1.125425  1.110776
2013-01-03  0.134919 -0.035634  0.517091 -0.791114
2013-01-05  0.343848  0.496475 -1.021254 -0.350403
2013-01-06 -1.017200  1.282888 -1.913240  1.366801

## Selection

> 실제 최적화된 Access 방식: `.at`, `.iat`, `.loc`, `.iloc`, `.ix`

### Getting

#### 열(Column) 하나 선택

In [28]:
df['A']

2013-01-01   -0.732504
2013-01-02    1.114156
2013-01-03    0.134919
2013-01-04   -0.842252
2013-01-05    0.343848
2013-01-06   -1.017200
Freq: D, Name: A, dtype: float64

#### 행(Rows) 단위 Slicing

In [29]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.732504 -0.477730  1.125425  1.110776
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-03  0.134919 -0.035634  0.517091 -0.791114

In [30]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-03  0.134919 -0.035634  0.517091 -0.791114
2013-01-04 -0.842252 -2.124258  0.600832  1.834915

### Label 활용 Selection

#### getting a cross section using a label

In [ ]:
df.loc[dates[0]]

#### Selecting on a multi-axis by label

> 행 전체 선택을 위해 `:` 사용

In [32]:
df.loc[:,['A', 'B']]

                   A         B
2013-01-01 -0.732504 -0.477730
2013-01-02  1.114156 -1.569409
2013-01-03  0.134919 -0.035634
2013-01-04 -0.842252 -2.124258
2013-01-05  0.343848  0.496475
2013-01-06 -1.017200  1.282888

#### label slicing, both endpoints are included

In [33]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  1.114156 -1.569409
2013-01-03  0.134919 -0.035634
2013-01-04 -0.842252 -2.124258

#### 행/열중 값 하나만 선택

- Reduction in the dimensions of the returned object

In [34]:
df.loc['20130102',['A','B']]

A    1.114156
B   -1.569409
Name: 2013-01-02 00:00:00, dtype: float64

#### 행/열 모두 값 하나만 선택

- 스칼라 값 반환

In [35]:
df.loc[dates[0],'A']

-0.73250362704049998

##### `.at` 

- 위와 동일하나, 더 빠른 값 Access

In [36]:
df.at[dates[0],'A']

-0.73250362704049998

### 위치 활용 선택

- 더 자세한 방법: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer

#### `.iloc[n]`

- 넘어온 정수값 위치 Row의 모든 Column 값

In [37]:
df.iloc[3]

A   -0.842252
B   -2.124258
C    0.600832
D    1.834915
Name: 2013-01-04 00:00:00, dtype: float64

#### `.iloc[n1:n2]`

- 이렇게 integer slice 활용하면, numpy와 비슷하게 slicing

In [38]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.842252 -2.124258
2013-01-05  0.343848  0.496475

#### `.iloc[[r0,r1,. ..], [c0,c1, ...]]`

- 마찬가지로 `numpy`와 같이 위치값 list로 slicing 가능

In [39]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.114156  0.643545
2013-01-03  0.134919  0.517091
2013-01-05  0.343848 -1.021254

In [40]:
df.iloc[[4,2,1],[2,0]] # 이렇게 순서를 바꾼다면?

                   C         A
2013-01-05 -1.021254  0.343848
2013-01-03  0.517091  0.134919
2013-01-02  0.643545  1.114156

#### `.iloc[r1:r2, :]`, `.iloc[:, c1:c2]`

- row / column 단위 slicing

In [41]:
 df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-03  0.134919 -0.035634  0.517091 -0.791114

In [42]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -0.477730  1.125425
2013-01-02 -1.569409  0.643545
2013-01-03 -0.035634  0.517091
2013-01-04 -2.124258  0.600832
2013-01-05  0.496475 -1.021254
2013-01-06  1.282888 -1.913240

#### `.iloc[r,c]`

- 해당 위치의 scala값

In [43]:
df.iloc[1,1]

-1.5694091224817042

#### `.iat[r,c]`

- 위와 동일 (fast access)

In [44]:
 df.iat[1,1]

-1.5694091224817042

### Boolean Indexing

- Boolean 값을 통한 indexing, 즉 특정 조건을 가진 값만 얻는 filtering 가능

#### Row 단위 Boolean Indexing

- 아래와 같이 모든 row의 지정 column 값에 대한 Boolean 연산 결과 `Series`를 얻을 수 있음

In [45]:
df.A > 0

2013-01-01    False
2013-01-02     True
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
Freq: D, Name: A, dtype: bool

- 위의 Boolean `Series` 값을 활용하면 해당 조건을 만족하는 모든 Row를 얻을 수 있음

In [47]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  1.114156 -1.569409  0.643545 -0.482571
2013-01-03  0.134919 -0.035634  0.517091 -0.791114
2013-01-05  0.343848  0.496475 -1.021254 -0.350403

#### 전체 값 대상 Boolean Indexing

In [48]:
df > 0

                A      B      C      D
2013-01-01  False  False   True   True
2013-01-02   True  False   True  False
2013-01-03   True  False   True  False
2013-01-04  False  False   True   True
2013-01-05   True   True  False  False
2013-01-06  False   True  False   True

In [49]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN  1.125425  1.110776
2013-01-02  1.114156       NaN  0.643545       NaN
2013-01-03  0.134919       NaN  0.517091       NaN
2013-01-04       NaN       NaN  0.600832  1.834915
2013-01-05  0.343848  0.496475       NaN       NaN
2013-01-06       NaN  1.282888       NaN  1.366801

#### `.isin(value_list)`

- 주어진 `value_list`를 가졌는지에 대한 Boolean 결과

In [50]:
df2 = df.copy()

df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.732504 -0.477730  1.125425  1.110776    one
2013-01-02  1.114156 -1.569409  0.643545 -0.482571    one
2013-01-03  0.134919 -0.035634  0.517091 -0.791114    two
2013-01-04 -0.842252 -2.124258  0.600832  1.834915  three
2013-01-05  0.343848  0.496475 -1.021254 -0.350403   four
2013-01-06 -1.017200  1.282888 -1.913240  1.366801  three

In [51]:
df2['E'].isin(['two','four'])

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
Freq: D, Name: E, dtype: bool

- 위 결과를 활용한 필터링 가능

In [52]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.134919 -0.035634  0.517091 -0.791114   two
2013-01-05  0.343848  0.496475 -1.021254 -0.350403  four

### Setting

In [53]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', '20130107'))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [55]:
df3 = df.copy()
df3['F'] = s1 # s1 Series값을 'F'라는 Label을 가진 열로 설정
df3

                   A         B         C         D    F
2013-01-01 -0.732504 -0.477730  1.125425  1.110776  NaN
2013-01-02  1.114156 -1.569409  0.643545 -0.482571  1.0
2013-01-03  0.134919 -0.035634  0.517091 -0.791114  2.0
2013-01-04 -0.842252 -2.124258  0.600832  1.834915  3.0
2013-01-05  0.343848  0.496475 -1.021254 -0.350403  4.0
2013-01-06 -1.017200  1.282888 -1.913240  1.366801  5.0

## Operations

## 시계열

## 범주 데이터 (Category, Factor)

## I/O

## Chart